[Unit]
Description=Daemon for nginx log processing
After=network.target

[Service]
ExecStart=/usr/local/bin/log-daemon.sh
Restart=always       # перезапуск при убийстве
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target